<!doctype html>
<html>

<head>
    <title>Natural Earth - Raster Shaded Relief</title>
</head>

<body>
    <h1>Data Starter Kit</h1>

    <h2>Summary</h2>

    <p></p>

    <h2>Source</h2>

    <p><a
            href="https://www.naturalearthdata.com/downloads/50m-natural-earth-2/50m-natural-earth-ii-with-shaded-relief/">https://www.naturalearthdata.com/downloads/50m-natural-earth-2/50m-natural-earth-ii-with-shaded-relief/</a>
    </p>

    <h2>Citation</h2>

    <p>https://www.naturalearthdata.com</p>

    <h2>License</h2>

    <p><a href="./license.html">./license.html</a></p>

</body>

</html>