<!doctype html>
<html>

<head>
    <title>JRC Global Human Settlement Layer - Built-Up Characteristics (GHS-BUILT-C - MSZ & FC) - Release 2022 - Epoch 2018 - 10m resolution - Morphological Settlement Zone & Functional Classification</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Data Starter Kit - GHS-BUILT-C R2022 E2018 10m</h1>

    <p><a href="./data/">Data available here</a></p>

    <h2>Summary</h2>

    <p></p>

    <h2>Source</h2>

    <p><a
            href="https://ghsl.jrc.ec.europa.eu/ghs_buC2022.php">https://ghsl.jrc.ec.europa.eu/ghs_buC2022.php</a>
    </p>

    <h2>Citation</h2>

    <p>Dataset:
        Pesaresi M., P. Panagiotis (2022):
        GHS-BUILT-C R2022A - GHS Settlement Characteristics, derived from Sentinel2 composite (2018) and other GHS R2022A data.European Commission, Joint Research Centre (JRC)
        PID: http://data.europa.eu/89h/dde11594-2a66-4c1b-9a19-821382aed36e, doi:10.2905/DDE11594-2A66-4C1B-9A19-821382AED36E</p>
        
    <p>Concept & Methodology:
        Schiavina M., Melchiorri M., Pesaresi M., Politis P., Freire S., Maffenini L., Florio P., Ehrlich D., Goch K., Tommasi P., Kemper T.
        GHSL Data Package 2022, JRC 129516, ISBN 978-92-76-53071-8
        doi:10.2760/19817</p>

    <h2>License</h2>

    <p>The reuse policy of the European Commission is implemented by the Commission Decision 2011/833/EU of 12 December 2011 on the reuse of Commission documents (OJ L 330, 14.12.2011, p. 39). Except otherwise noted, the reuse of this document is authorised under the Creative Commons Attribution 4.0 International (CC BY 4.0) licence (https://creativecommons.org/licenses/by/4.0/). This means that reuse is allowed provided appropriate credit is given and any changes are indicated. For any use or reproduction of photos or other material that is not owned by the EU, permission must be sought directly from the copyright holders.
        All content © European Union, 2022 <a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

</body>

</html>