<!doctype html>
<html>

<head>
    <title>Creative Commons Attribution 4.0 International Public License</title>
    <meta charset="UTF-8">
</head>

<body>


    <h1>Creative Commons Attribution 4.0 International Public License</h1>

    <p>The reuse policy of the European Commission is implemented by the Commission Decision 2011/833/EU of 12 December 2011 on the reuse of Commission documents (OJ L 330, 14.12.2011, p. 39). Except otherwise noted, the reuse of this document is authorised under the Creative Commons Attribution 4.0 International (CC BY 4.0) licence (https://creativecommons.org/licenses/by/4.0/). This means that reuse is allowed provided appropriate credit is given and any changes are indicated. For any use or reproduction of photos or other material that is not owned by the EU, permission must be sought directly from the copyright holders.
        All content © European Union, 2022<a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

</body>

</html>