<!doctype html>
<html>

<head>
    <title>Creative Commons Attribution 4.0 International Public License</title>
    <meta charset="UTF-8">
</head>

<body>


    <h1>Creative Commons Attribution 4.0 International Public License</h1>

    <p>World Resource Institute - Aqueduct Flood Hazard Maps are made available under the Creative Commons Attribution
        License International (4.0): <a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

</body>

</html>