<!doctype html>
<html>

<head>
    <title>STORM tropical cyclone wind speed return periods as global GeoTIFFs</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Data Starter Kit - STORM Global Mosaics</h1>

    <p><a href="./data/">Data available here</a></p>

    <h2>Summary</h2>

    <p></p>

    <h2>Source</h2>

    <p><a
            href="https://zenodo.org/record/7438145#.Y-S6cS-l30o">https://zenodo.org/record/7438145#.Y-S6cS-l30o</a>
    </p>

    <h2>Citation</h2>

    <p>[1] Bloemendaal, Nadia; de Moel, H. (Hans); Muis, S; Haigh, I.D. (Ivan); Aerts, J.C.J.H. (Jeroen) (2020): STORM tropical cyclone wind speed return periods. 4TU.ResearchData. Dataset. https://doi.org/10.4121/12705164.v3</p>

    <p>[2] Bloemendaal, Nadia; de Moel, Hans; Dullaart, Job; Haarsma, R.J. (Reindert); Haigh, I.D. (Ivan); Martinez, Andrew B.; et al. (2022): STORM climate change tropical cyclone wind speed return periods. 4TU.ResearchData. Dataset. https://doi.org/10.4121/14510817.v3</p>

    <h2>License</h2>

    <p>CC0 - CC0 enables scientists, educators, artists and other creators and owners of copyright- or database-protected content to waive those interests in their works and thereby place them as completely as possible in the public domain, so that others may freely build upon, enhance and reuse the works for any purposes without restriction under copyright or database law.<a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/share-your-work/public-domain/cc0/">https://creativecommons.org/share-your-work/public-domain/cc0/</a></p>

</body>

</html>