<!doctype html>
<html>

<head>
    <title>Grid Finder</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Data Starter Kit - Grid Finder</h1>

    <p><a href="./data/">Data available here</a></p>

    <h2>Summary</h2>

    <p>Derived Map Of Global Electricity Transmission And Distribution Lines</p>
    <p>This data was created with code in the following three repositories:

        https://github.com/carderne/gridfinder
        https://github.com/carderne/predictive-mapping-global-power
        https://github.com/carderne/access-estimator</p>

    <h2>Source</h2>

    <p><a
            href="https://datacatalog.worldbank.org/search/dataset/0038055">https://datacatalog.worldbank.org/search/dataset/0038055</a>
    </p>

    <h2>Citation</h2>

    <p>Arderne, C., Zorn, C., Nicolas, C. et al. Predictive mapping of the global power system using open data. Sci Data 7, 19 (2020). https://doi.org/10.1038/s41597-019-0347-4</p>

    <h2>License</h2>

    <p><a href="./license.html">./license.html</a></p>

</body>

</html>