<!doctype html>
<html>

<head>
    <title>Creative Commons Attribution 4.0 International Public License</title>
    <meta charset="UTF-8">
</head>

<body>


    <h1>Creative Commons Attribution 4.0 International Public License</h1>

    <p>Arderne, Christopher, NIcolas, Claire, Zorn, Conrad, & Koks, Elco E. (2020). Data from: Predictive mapping of the
        global power system using open data [Data set]. In Nature Scientific Data (1.1.1, Vol. 7, Number Article 19).
        Zenodo. https://doi.org/10.5281/zenodo.3628142</p>

</body>

</html>