<!doctype html>
<html>

<head>
    <title>World Resource Institute - Aqueduct Flood Hazard Maps (Version 2 (updated October 20, 2020))</title>
</head>

<body>
    <h1>Data Starter Kit - WRI Aqueduct</h1>

    <p><a href="./data">Data available here</a></p>

    <h2>Summary</h2>

    <p>World Resource Institute - Aqueduct Flood Hazard Maps (Version 2 (updated October 20, 2020)).  Inundation depth in meters for coastal and riverine floods over 1km grid squares. 1 in 2 to 1 in 1000 year return periods. Baseline, RCP 4.5 & 8.5 emission scenarios. Current and future maps in 2030, 2050 and 2080.</p>

    <h2>Source</h2>

    <p><a
            href="https://www.wri.org/data/aqueduct-floods-hazard-maps">https://www.wri.org/data/aqueduct-floods-hazard-maps</a>
    </p>

    <h2>Citation</h2>

    <p>Ward, P.J., H.C. Winsemius, S. Kuzma, M.F.P. Bierkens, A. Bouwman, H. de Moel, A. Díaz Loaiza, et al. 2020.
        “Aqueduct Floods Methodology.” Technical Note. Washington, D.C.: World Resources Institute. Available online at:
        www.wri.org/publication/aqueduct-floods-methodology.</p>

    <h2>License</h2>

    <p>World Resource Institute - Aqueduct Flood Hazard Maps are made available under the Creative Commons Attribution
        License International (4.0): <a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

</body>

</html>