<!doctype html>
<html>

<head>
    <title>Open Street Map Roads and Rail</title>
</head>

<body>
    <h1>Data Starter Kit - Open Street Map Roads and Rail</h1>

    <p><a href="./data/">Data available here</a></p>

    <h2>Summary</h2>

    <p>Extract from OpenStreetMap October 2021. All roads tagged as trunk, motorway, primary, secondary or tertiary, all
        rail lines tagged as rail and railway stations.</p>

    <h2>Source</h2>

    <p><a href="https://planet.openstreetmap.org/">https://planet.openstreetmap.org/</a>
    </p>

    <h2>Citation</h2>

    <p><a href="https://www.openstreetmap.org/copyright">https://www.openstreetmap.org/copyright</a></p>

    <h2>License</h2>

    <p><a href="./license.html">./license.html</a> or <a
            href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>. Any
        rights in individual contents of the database are licensed individually, see dataset descriptions and licenses
        for details.</p>

</body>

</html>