<!doctype html>
<html>
<head>
  <title>Data Starter Kit</title>
</head>
<body>
<h1>Data Starter Kit</h1>

<p>Human-induced climate change is predicted to increase the frequency and intensity of climate and weather extremes causing widespread, 
  adverse impacts to infrastructure, settlements, people, and ecosystems. Geospatial data are fundamental for conducting climate risk analyses, 
  which are necessary to inform policy decisions aimed at reducing risk. Yet, access to data is often a barrier to climate risk modelling, particularly in developing countries. 
  Data are oftentimes scattered, hard to find, in formats that are difficult to use or require considerable technical expertise. 

  This country-specific 'starter kit' aims to facilitate access to relevant geospatial datasets to kickstart the process and act as a starting point for further model development and analysis.

  To read more about the kits and to see an example of how they can be used, check out [link to preprint article] 
</p>

<p><a href="./datasets/">Package datasets available here</a></p>

<h2>License</h2>

<p>This Data Starter Kit is made available under the Open Database License: <a href="./license.html">./license.html</a> or <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>. Any rights in individual contents of the database are licensed individually, see dataset descriptions and licenses for details.</p>

<p>In summary, you are free:</p>
<ul>
  <li>To share: To copy, distribute and use the database.</li>
  <li>To create: To produce works from the database.</li>
  <li>To adapt: To modify, transform and build upon the database.</li>
</ul>

<p>As long as you:</p>
<ul>
  <li>Attribute: You must attribute any public use of the database, or works produced from the database, in the manner specified in the ODbL. For any use or redistribution of the database, or works produced from it, you must make clear to others the license of the database and keep intact any notices on the original database.</li>
  <li>Share-Alike: If you publicly use any adapted version of this database, or works produced from an adapted database, you must also offer that adapted database under the ODbL.</li>
  <li>Keep open: If you redistribute the database, or an adapted version of it, then you may use technological measures that restrict the work (such as DRM) as long as you also redistribute a version without such measures.</li>
</ul>

</body>
</html>
