<!doctype html>
<html>

<head>
    <title>JRC Global Human Settlement Layer - Population (GHS-POP) - Release 2022 - Epoch 2020 - 1Km resolution</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Data Starter Kit - GHS-POP R2022 E2020 1Km</h1>

    <p><a href="./data/">Data available here</a></p>

    <h2>Summary</h2>

    <p></p>

    <h2>Source</h2>

    <p><a
            href="https://ghsl.jrc.ec.europa.eu/ghs_pop2022.php">https://ghsl.jrc.ec.europa.eu/ghs_pop2022.php</a>
    </p>

    <h2>Citation</h2>

    <p>Dataset:
        Schiavina M., Freire S., MacManus K. (2022):
        GHS-POP R2022A - GHS population grid multitemporal (1975-2030).European Commission, Joint Research Centre (JRC)
        PID: http://data.europa.eu/89h/d6d86a90-4351-4508-99c1-cb074b022c4a, doi:10.2905/D6D86A90-4351-4508-99C1-CB074B022C4A</p>
        
    <p>Concept & Methodology:
        Freire S., MacManus K., Pesaresi M., Doxsey-Whitfield E., Mills J. (2016)
        Development of new open and free multi-temporal global population grids at 250 m resolution. Geospatial Data in a Changing World; Association of Geographic Information Laboratories in Europe (AGILE), AGILE 2016</p>

    <h2>License</h2>

    <p>The reuse policy of the European Commission is implemented by the Commission Decision 2011/833/EU of 12 December 2011 on the reuse of Commission documents (OJ L 330, 14.12.2011, p. 39). Except otherwise noted, the reuse of this document is authorised under the Creative Commons Attribution 4.0 International (CC BY 4.0) licence (https://creativecommons.org/licenses/by/4.0/). This means that reuse is allowed provided appropriate credit is given and any changes are indicated. For any use or reproduction of photos or other material that is not owned by the EU, permission must be sought directly from the copyright holders.
        All content © European Union, 2022 <a href="./license.html">./license.html</a> or <a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

</body>

</html>